img.float_left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

img.float_right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.background {
    color: red !important;
}